* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: 'Roboto';
  min-height: 100vh;
  max-height: 100%;
  width: 100vw;
}

.nav-bar {
  width: 100vw;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #2c0e3a;
  padding: 20px;
}

.top-image {
  width: 130px;
  height: 30px;
}

.score-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
}

.score-name {
  color: #ffffff;
  font-size: 12px;
  margin-right: 5px;
}

.score {
  color: #fec653;
  font-size: 16px;
  margin-right: 20px;
}

.time-img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.content-div {
  width: 100vw;
  height: 100%;
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  background-size: cover;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.first-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.big-image {
  width: 500px;
  height: 300px;
}

.tab-elements {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
}

.tab-button {
  background-color: transparent;
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: none;
  color: #ffffff;
  font-size: 20px;
  outline: none;
  min-width: 60px;
  height: 40px;
  margin-right: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.highlight-text {
  color: #fec653;
  border-bottom: solid;
  border-bottom-color: #fec653;
}

.thumbnail-images {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 500px;
  list-style-type: none;
  padding: 0px;
}

.image-button {
  width: 86px;
  height: 86px;
  background-color: transparent;
  outline: none;
  border-style: none;
  margin-right: 14px;
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thumbnail-image {
  width: 86px;
  height: 86px;
}

.second-div{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 480px;
  height: 600px;
  background-image: url("https://assets.ccbp.in/frontend/react-js/match-game-score-card-lg-bg.png");
  background-size: cover;
}

.trophy-image {
  width: 280px;
  height: 220px;
  margin-top: 180px;
}

.main-heading {
  color: #ffffff;
  font-size: 18px;
  margin: 0px;
}

.your-score {
  color: white;
  font-size: 34px;
  margin: 10px;
  margin-bottom: 25px;
}

.play-button {
  width: 160px;
  border-style: none;
  outline: none;
  background-color: #cf60c8;
  border-radius: 10px;
  font-size: 15px;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

